@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.nav-bar-logo {
  display:flex;
  align-items: center;
  gap: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.nav-bar {
  display:flex;
  gap: 8%;
}

.nav-bar-icons {
  display:flex;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.main-content {
  padding-left: 20%;
  padding-right: 20%;
}

.nav-bar-icons-home {
  background-color: rgb(37, 195, 137);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-desc {
  font-size: 0.9em
}

.nav-bar-icons-pages {
  background-color: rgb(255, 185, 1);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-icons-blog {
  background-color: rgb(222, 98, 98);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-icons-portfolio {
  background-color: rgb(22, 145, 189);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-icons-contact {
  background-color: rgb(22, 107, 162);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.slideshow{
  display:flex;
  align-items: center;
}

.intro-text {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: thin;
}

.content-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 45px;
}

.things-we-do-categories{
  display: flex;
  gap: 10px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
  justify-content: center;
}

.things-we-do-content-title {
  font-weight: 600;
}

h2 {
  margin-bottom: 0px;
}

.under-h2 {
  margin-top: 5px;
}

.web-solutions-icon {
  color: rgb(255, 185, 1);
  border: 3px solid rgb(255, 185, 1);
  height: 6vw;
  width: 6vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.photography-icon {
  color: rgb(37, 195, 137);
  border: 3px solid rgb(37, 195, 137);
  height: 6vw;
  width: 6vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.web-development-icon {
  color: rgb(231, 97, 94);
  border: 3px solid rgb(231, 97, 94);
  height: 6vw;
  width: 6vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.web-design-icon {
  color: rgb(31, 168, 212);
  border: 3px solid rgb(31, 168, 212);
  height: 6vw;
  width: 6vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.things-we-do-categories-individual {
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-description-text {
  color: gray;
}

.whats-up-imgs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-bottom: 35px;
}

hr {
background-color: rgb(31, 168, 212);
height: 2px;
width: 210px;
margin-left: 0px;

}

