@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.nav-bar-logo {
  display:flex;
  align-items: center;
  gap: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
}

.nav-bar {
  display:flex;
  gap: 8%;
}

.nav-bar-icons {
  display:flex;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.main-content {
  padding-left: 20%;
  padding-right: 20%;
}

.nav-bar-icons-home {
  background-color: rgb(37, 195, 137);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-desc {
  font-size: 0.9em
}

.nav-bar-icons-pages {
  background-color: rgb(255, 185, 1);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-icons-blog {
  background-color: rgb(222, 98, 98);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-icons-portfolio {
  background-color: rgb(22, 145, 189);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar-icons-contact {
  background-color: rgb(22, 107, 162);
  width: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.slideshow{
  display:flex;
  align-items: center;
}

.intro-text {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 75px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: thin;
}

.content-title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 45px;
}

.things-we-do-categories{
  display: flex;
  gap: 10px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
  justify-content: center;
}

.things-we-do-content-title {
  font-weight: 600;
}

h2 {
  margin-bottom: 0px;
}

.under-h2 {
  margin-top: 5px;
}

.web-solutions-icon {
  color: rgb(255, 185, 1);
  border: 3px solid rgb(255, 185, 1);
  height: 6vw;
  width: 6vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.photography-icon {
  color: rgb(37, 195, 137);
  border: 3px solid rgb(37, 195, 137);
  height: 6vw;
  width: 6vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.web-development-icon {
  color: rgb(231, 97, 94);
  border: 3px solid rgb(231, 97, 94);
  height: 6vw;
  width: 6vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.web-design-icon {
  color: rgb(31, 168, 212);
  border: 3px solid rgb(31, 168, 212);
  height: 6vw;
  width: 6vw;
  display:flex;
  justify-content: center;
  align-items: center;
}

.things-we-do-categories-individual {
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-description-text {
  color: gray;
}

.whats-up-imgs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-bottom: 35px;
}

hr {
background-color: rgb(31, 168, 212);
height: 2px;
width: 210px;
margin-left: 0px;

}


/* Small only */
@media screen and (max-width: 39.9375em) {

  .things-we-do-categories {
    flex-direction: column;
  }

  .things-we-do-categories-individual {
    flex-direction: row;
    text-align: left;
    gap: 20px;
  }

  .slideshow {
    display: none;
  }

  .nav-bar-icons {
    display: none;
  }

  .whats-up-imgs {
    flex-direction: column;
    align-items: center;
  }

  .whats-up-img-individual {
    width: 75%;
  }
}




/*Medium only */
@media screen and (min-width: 40em) and
(max-width: 63.9375em) {

  .things-we-do-categories {
    display: grid;
    grid-template:
    "web-solutions photography"
    "web-development web-design"
  }
}


/**BOTTOM HALF PART CONTENT*/
.bottom-main-container {

}

/**Our Latest Projects*/
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    font-size: 40px;
}

.projects-sub-title {
    font-size: 20px;
    color: #939393;
    margin-top: -20px;
}

.projects-img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vh;
    height: 24em;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 11em;
    align-content: center;
}

.projects-img {
    width:  20em;
    height: 20em;
    object-fit: cover;
}

/**slide in animation not working*/
.img-overlay {
    position: relative;
    background-color: #2496bc;
    display: none;
    height: 0%;
    transition: .5s ease;
  }
  
  .projects-img:hover .img-overlay {
    display: block;
    height: 100%;
  }
  

.img-title {

}

.img-sub-title {

}

.img-button {

}

.img-button-icon {

}
/**slide in animation not working*/

/**Things of Above*/
.misc-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.misc-title {
    font-size: 40px;
}

.misc-sub-title {
    font-size: 20px;
    color: #939393;
    margin-top: -20px;
}

/**Footer*/
.footer-container {
    width: 100%;
    height: 40em;
    background-color: #04192a;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.footer-person-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    justify-content: center;
    border-bottom: 1px solid rgb(76, 134, 204);
}

.person-img {
    width: 7em;
    height: 7em;
}

.person-info {
    font-size: 18px;
}

.footer-sections {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 4em;
    font-size: 16px;
    margin-bottom: 4em;
}

.footer-section-about-us {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.footer-title-about-us {
    border-bottom: 2px solid rgb(43, 193, 123);
}

.footer-title-flickr-photos {
    border-bottom: 2px solid rgb(241, 224, 68);
}

.footer-title-recent-tweets {
    border-bottom: 2px solid rgb(237, 113, 64);
}

.footer-title-news-letter {
    border-bottom: 2px solid rgb(75, 127, 231);
}

.about-us-social-media {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.social-media-button {
    height: 3em;
    width: 3em;
    background-color: #0b538e;
    border: 1px solid;
}

.social-media-logo {

}

.footer-section-flickr-photos {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.flickr-photos-img-container {
    display: flex;
    flex-direction: column;
}

.flickr-photos-img {
    width: 5em;
    height: 5em;
}

.footer-section-recent-tweets {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.recent-tweets-info {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.tweet-icon {
    height: 3em;
    width: 3em;
}

.footer-section-news-letter {
    display: flex;
    flex-direction: column;
}

.news-letter-input {
    background-color: #e65755;
    border: none;
    height: 3em;
    width: 15em;
}

::placeholder {
    color: white;
  }

  .news-letter-subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.news-letter-button {
    height: 3em;
    width: 3em;
    color: white;
    font-weight: 600;
    background-color: #e8ae00;
    border: none;
}

.news-letter-button-icon {

}






